<div class="container">
  <h1 style="text-align: center;" class="title">Scrabble Score!</h1>
</div>

<div class="container">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <form action="/title">
      <div class="form-group">
         <label for="title">What word would you like to see the Scrabble score of?
    </label>
         <input id="word" name="word" class="form-control input_field" type="text">
      </div>
      <div class="wrapper" style="text-align: center;">
        <button type="submit" class="btn-success" id="send">Send</button>
      </div>
    </form>
  </div>
</div>
