<h1>Scrabble Score!</h1>
<form action="/title">
  <div class="form-group">
     <label for="title">What word would you like to see the Scrabble score of?
</label>
     <input id="word" name="word" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success" id="send">Send</button>
</form>
